<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor list</title>
</head>
<body>
    <div style=" padding: 10px; border-radius: 10px;"><!--main box-->
        <h2 style="text-align: center; margin: 1px;">Meet our Mentors</h2>
        <p style="text-align: center; color: grey; margin: 0px;">Being Developers themselves,the curriculum Team is<br> an experienced group of instructors teaching.</p>
        <div  style="display: flex; width: 60%;margin: auto;border-radius: 10px; margin-top: 20px; "><!--sub box1-->
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
            border: 1px solid rgb(241, 238, 238);
            border-radius: 9px;
            box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://masai-website-images.s3.ap-south-1.amazonaws.com/nitesh_409e88531a.jpg" style="width: 100%; height: 72%; border-radius: 9px;">
                <p style="text-align: center;margin: 0px;"><b>Nitesh Jain</b></p>
                    <div style=" width: 60px; height: 20px; display: flex; margin:auto;">
                        <img src="https://th.bing.com/th?id=OIP.70dZDgT8j4oJrAggbRdV6gHaCO&w=350&h=105&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                    </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
            margin-left: 1px;
            border: 1px solid rgb(241, 238, 238);
            border-radius: 9px;
            box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://th.bing.com/th/id/OIP.OToYYpv--JLGAq5FJGegeQAAAA?w=178&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center; margin: 0px;"><b>Mohit Rai</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.idB_-eo5pNgOG8Ker3jEpgAAAA&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
             margin-left: 1px;
             border: 1px solid rgb(241, 238, 238);
             border-radius: 9px;
             box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://th.bing.com/th/id/OIP.gGfvngIjmuIMzAMuLSyz2gAAAA?w=179&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center;margin: 0px;"><b>Amol Holani</b></p>
                    <div style="width: 60px; height: 20px; display: flex; margin: auto;">
                        <img src="https://th.bing.com/th/id/OIP.1mhhIA1HPVTNFmEOn91kEAAAAA?rs=1&pid=ImgDetMain" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                    </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
             margin-left: 1px;
             border: 1px solid rgb(241, 238, 238);
             border-radius: 9px;
             box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://th.bing.com/th/id/OIP.j5uUj18hbBOKX_mWoFc9ZAHaHa?w=158&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center; margin: 0px;"><b>Shardha Khapra</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.uHrDUCEbFVxRTdSSRjC5_gHaCu&w=349&h=128&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>

        </div>
        <div style="display: flex; width: 60%;margin: auto;border-radius: 10px; margin-top: 20px;"><!--sub box2-->
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
            border: 1px solid rgb(241, 238, 238);
            border-radius: 9px;
            box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://masai-website-images.s3.ap-south-1.amazonaws.com/yash_shukla_f8d69a6bb2.jpg" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center; margin: 0px;"><b>Yash Shukla</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.uHrDUCEbFVxRTdSSRjC5_gHaCu&w=349&h=128&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
            margin-left: 1px;
            border: 1px solid rgb(241, 238, 238);
            border-radius: 9px;
            box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://masai-website-images.s3.ap-south-1.amazonaws.com/yuvraj_jaiswal_98e5f25045.jpg" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center;margin: 0px;"><b>Yuvraj Jaiswal</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.70dZDgT8j4oJrAggbRdV6gHaCO&w=350&h=105&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
             margin-left: 1px;
             border: 1px solid rgb(241, 238, 238);
             box-shadow: 0px 0px 5px 0px #ccc;
             border-radius: 9px;" >
                <img src="https://masai-website-images.s3.ap-south-1.amazonaws.com/kanishk_aman_247ff1ba31.jpg" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center; margin: 0px;"><b>Kanishk Aman</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.idB_-eo5pNgOG8Ker3jEpgAAAA&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>
            <div style=" margin: auto;
            height: 220px;
            width: 150px;
             margin-left: 1px;
             border: 1px solid rgb(241, 238, 238);
             border-radius: 9px;
             box-shadow: 0px 0px 5px 0px #ccc;" >
                <img src="https://masai-website-images.s3.ap-south-1.amazonaws.com/jai_senthia_aabd0c8953.jpg" style="width: 100%; height: 72%;border-radius: 9px;">
                <p style="text-align: center; margin: 0px;"><b>Jai Sethia</b></p>
                <div style=" width: 60px; height: 20px; display: flex; margin: auto;">
                    <img src="https://th.bing.com/th?id=OIP.70dZDgT8j4oJrAggbRdV6gHaCO&w=350&h=105&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" alt="" style="width: 100%; height: 100%; margin: auto;"  >
                </div>
            </div>

        </div>
        <button style="border: none; background-color: red; padding: 5px; margin-left: 47%;margin-top: 15px;  border-radius: 5px;">SEE MORE</button>

    </div>
</body>
</html>